<!doctype HTML>
<html>
  <head>
    <title><%=page.title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="icon" href="assets/logo.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="assets/logo.svg" type="image/svg+xml">
  </head>
  <body>
    <%-header%>
    <%-page.body%>
    <%-footer%>
  </body>
</html>
