$logoHeight: 54px;
$headerVPadding: 10px;
$headerHPadding: 20px;
$rdLime: #88bd23;
$rdGreen: #007e31;
$rdBaby: #01b5e5;
$rdBlue: #001f7d;

:export {
  rdLime: #88bd23;
  rdGreen: #007e31;
  rdBaby: #01b5e5;
  rdBlue: #001f7d;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff2') format('woff2'), url('fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

html,body {
  height: 100%;
  margin: 0;
}

a {
  color: $rdGreen;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.small {
  max-width: 500px;
  margin: 0 auto;
}

body > main {
  padding: 10px 5%;
}

.fullForm {
  label {
    display: block;
    margin-bottom: 1.5em;

    input, select, textarea {
      display: block;
      width: 100%;
      margin: 0.5em 0;
      border: none;
      background-color: transparent;
      box-shadow: none;
      border-bottom: solid 1px #000;

      &:invalid {
        border-bottom-color: #ff0000;
      }
    }

    div.select {
      position: relative;

      select {
        appearance: none;
      }

      &:after {
        font-family: 'FontAwesome';
        content: '\f103';
        color: #CCC;
        position: absolute;
        right: 5px;
        top: 2px;
      }
    }

    input[type=checkbox], input[type=radio], input[type=file] {
      display: inline;
      border: none;
    }

    span {
      display: block;
      font-size: 70%;
    }
  }

  .react-datepicker-wrapper {
    display: block;

    .react-datepicker__input-container {
      display: block;
    }
  }
}

header.rdHeader {
  padding: $headerVPadding $headerHPadding;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > .logo {
    background: url('logo.svg') 0 0 / 54px 54px no-repeat;
    width: 54px;
    height: 54px;
  }

  > .logo-text {
    background: url('logo-text.svg') no-repeat;
    float: right;
    width: 318px;
    height: 52px;
  }

  div.nav {
    display: inline-block;
    margin: 0 10px;

    a {
      font-weight: bold;
      display: inline-block;
      padding: 1px 15px;
      margin: 0 5px;
      border-radius: 5px;
      //background: $rdGreen;
      border: solid 2px $rdGreen;
      background: #fff;
      //background: color($rdGreen a(70%));
      //color: #fff;
      color: $rdGreen;

      &:hover {
        background: $rdGreen;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 1000px) {
  header.rdHeader {
    div.nav {
      float: right;
      margin: 15px;
      position: relative;

      nav {
        position: absolute;
        right: 0px;
        display: none;

        a {
          display: block;

          border: none;
          border-radius: 0;
          margin: 0;
          padding: 8px 25px;
        }
      }

      div.hamburger {
        width: 20px;
        height: 20px;
        background: #ddd;
        background: linear-gradient(to bottom, $rdGreen 0%,$rdGreen 20%,#ffffff 20%,#ffffff 40%,$rdGreen 40%,$rdGreen 60%,#ffffff 60%,#ffffff 80%,$rdGreen 80%,$rdGreen 100%);
      }

      &:focus {
        div.hamburger {
          background: linear-gradient(to right, $rdGreen 0%,$rdGreen 20%,#ffffff 20%,#ffffff 40%,$rdGreen 40%,$rdGreen 60%,#ffffff 60%,#ffffff 80%,$rdGreen 80%,$rdGreen 100%);
        }

        nav {
          display: block;
          z-index: 1000;
        }
      }
    }
  }
}

@media(max-width: 500px) {
  header.rdHeader {
    padding: $headerVPadding/2 $headerHPadding/2;

    div.nav {
      margin: 5px;
    }

    > .logo-text {
      display: none;
    }

    > .logo {
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
    }
  }
}

h1 {
  color: $rdGreen;
}

h2 {
  color: $rdBaby;
}

h3 {
  color: $rdBlue;
  font-weight: normal;
}
